.banner .swiper {
    width: 240px;
    height: 320px;
}

.banner .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 18px;
    font-size: 22px;
    font-weight: bold;
    color: #fff;
}

.banner .swiper-slide:nth-child(1n) {
    background-image: url('src/assets/bookImg/thumb_111_1604891490.png');
}

.banner .swiper-slide:nth-child(2n) {
    background-image: url('src/assets/bookImg/thumb_112_1604891542.png');
}

.banner .swiper-slide:nth-child(3n) {
    background-image: url('src/assets/bookImg/thumb_194_1604900629.png');
}

.banner .swiper-slide:nth-child(4n) {
    background-image: url('src/assets/bookImg/thumb_195_1605029367.png');
}

.banner .swiper-slide:nth-child(5n) {
    background-image: url('src/assets/bookImg/thumb_200_1604843342.png');
}

.banner .swiper-slide:nth-child(6n) {
    background-image: url('src/assets/bookImg/thumb_201_1605890886.png');
}

.banner .swiper-slide:nth-child(7n) {
    background-image: url('src/assets/bookImg/thumb_214_1606297370.png');
}